@{
    ViewBag.Title = "Chi tiết tin";
    Layout = "~/Views/Shared/_TinTuc.cshtml";
}
@using TinTuc.Models;
@model News
<div>
<h2>@Model.news_title</h2>
   
<h3>@Model.news_content</h3>
    </div>

<p></p>
