USE [master]
GO
/****** Object:  Database [TinTuc]    Script Date: 04/16/2019 00:49:15 ******/
CREATE DATABASE [TinTuc] ON  PRIMARY 
( NAME = N'TinTuc', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TinTuc.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TinTuc_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TinTuc_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TinTuc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TinTuc]
GO
/****** Object:  Table [dbo].[Categorys]    Script Date: 04/16/2019 00:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorys](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](20) NULL,
 CONSTRAINT [PK_Categorys] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorys] ON
INSERT [dbo].[Categorys] ([category_id], [category_name]) VALUES (1, N'Công nghệ')
INSERT [dbo].[Categorys] ([category_id], [category_name]) VALUES (2, N'Giáo Dục')
INSERT [dbo].[Categorys] ([category_id], [category_name]) VALUES (3, N'Đời sống')
SET IDENTITY_INSERT [dbo].[Categorys] OFF
/****** Object:  Table [dbo].[Account]    Script Date: 04/16/2019 00:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] NOT NULL,
	[username] [nvarchar](10) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 04/16/2019 00:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[news_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[news_title] [nvarchar](100) NOT NULL,
	[news_image] [nvarchar](100) NOT NULL,
	[news_content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[News] ON
INSERT [dbo].[News] ([news_id], [category_id], [news_title], [news_image], [news_content]) VALUES (2, 1, N'Visual Studio 2019', N'iamge', N'Tải đi')
INSERT [dbo].[News] ([news_id], [category_id], [news_title], [news_image], [news_content]) VALUES (3, 1, N'Nam Nghỉ COde', N'iamgfds', N'Tin đọng Trời')
SET IDENTITY_INSERT [dbo].[News] OFF
/****** Object:  ForeignKey [FK_News_Categorys]    Script Date: 04/16/2019 00:49:17 ******/
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Categorys] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categorys] ([category_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Categorys]
GO
